<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342354568076-51q2e3kd0hoe58gdkk768mal2dlnoohr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342354568076-51q2e3kd0hoe58gdkk768mal2dlnoohr</string>
	<key>API_KEY</key>
	<string>AIzaSyAy0i-_mHWIQ_P9d1_oTl1B237wu-02IWE</string>
	<key>GCM_SENDER_ID</key>
	<string>342354568076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.koushik.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat--ios14</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat--ios14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342354568076:ios:616ea017cefdf98c8b6ca9</string>
</dict>
</plist>